<html>
<body>
<div style="height: 20px;line-height:20px;width: 100%;text-align: center;background-color: blueviolet;color: black;bottom: 0px;position: absolute">
    velocity  文件底部 Copyright &copy 2018 lm
</div>
</body>
</html>